@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Change for branch - change-msgwellcome.</p>
<p> This page is under construction as of @ViewData["Timestamp"]</p>
